.form {
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 12px;
}
.formText {
  width: 100%;
}
.filePicker {
  padding-top: 12px;
  width: 100%;
}
.buttonsContainer {
  padding-top: 24px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
