.formWrapper {
  display: flex;
  flex-flow: column;
  width: 420px;
  padding: 33px 36px 29px 36px;
  gap: 26px;
}

.form {
  display: flex;
  flex-flow: column;
  gap: 24px;
  width: 100%;

  .checkbox {
    max-width: 12.5rem;
    margin-top: -23px;
  }
}

.forgotPassword {
  cursor: pointer;
  margin: -18px 12px 0 0;
  display: flex;
  justify-content: right;
}

.buttonSubmit {
  margin-top: 40px;
}

.footerContainer {
  text-align: center;
}

.signUp {
  font-size: var(--font-size-m);
  color: var(--color-accent-500);
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
}
