.linkBack {
  align-items: center;
  display: flex;

  & > :not(:first-child) {
    margin-left: 6px;
  }
  width: 100%;
  padding-top: 24px;
}
.card {
  width: 100%;
  padding: 33px 36px 48px;
  margin: 33px auto 0;
  max-width: 420px;
  z-index: 0;
}
.questionContainer {
  text-align: left;
  padding-top: 45px;
  padding-bottom: 10px;
  display: flex;
}
.answerContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 25px;
}
.radioGroup {
  padding-left: -20px;
}
.button {
  margin-top: 30px;
}
.questionImage {
  padding-top: 18px;
  width: 100%;
}
