.avatarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  margin-left: 14px;
}
.shortName {
  color: var(--color-light-100);
  border-bottom: 1px var(--color-light-100) dashed;
}
.noAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 14px;
  background-color: var(--color-dark-300);
  color: var(--color-accent-700);
  text-transform: uppercase;
}
