.Root {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Item {
  all: unset;
  background-color: transparent;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--color-accent-500);

  &.disabled {
    pointer-events: none;
    border: 2px solid var(--color-accent-900);
    opacity: 0.5;
  }
}

.radioContainer {
  display: flex;
  align-items: center;
}

.radioWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;

  &:active:not(.disabled) {
    background-color: var(--color-accent-900);
    opacity: 50%;
  }

  &:hover:not(.disabled) {
    background-color: var(--color-dark-500);
    opacity: 50%;
  }

  &:focus:not(.disabled) {
    outline: none;
    background-color: var(--color-dark-700);
    opacity: 50%;
  }
}

.Indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;

  &:not(.disabled)::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-accent-500);
  }

  &.disabled::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-accent-900);
    opacity: 50%;
  }
}

.Label {
  color: var(--color-light-100);
  font-size: 15px;
  line-height: 1;
  padding-left: 15px;
  &.disabled {
    color: var(--color-light-900);
  }
}
