.headerWrapper {
  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  width: 100%;
  height: 60px;
}
.content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  height: 60px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
